---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/stylesheets/bootstrap";
$main-color: #1a3771;
.page-content {
	@extend .container;
}
.wrapper {
	@extend .col-md-12;
	min-height: 40em;
	h2 {
		background: $main-color;
		padding: 5px 30px 5px 10px;
		display: inline-block;
		color: white;
	}
}

.navbar {
	border-radius: 0;
	&.navbar-default {
		a {
			color: white;
			&:hover {
				color: white;
			}
		}
		.navbar-toggle {
			border: none;
			a {
				color: white;
			}
		}
		.navbar-nav {
			a {
				color: white;
				&:hover {
					color: white;
				}
			}
		}
	}
	background: $main-color;
	a {
		color: white;
		&:hover {
			background-color: #2a6496!important;
		}
	}
}

footer {
	border-top: 1px solid $main-color;
	padding-top: 1em;
	&.site-footer {
		@extend .col-md-12;
	}
	.element {
		@extend .col-md-4;
		h3 {
			font-size: $font-size-base;
		}
		ul {
			@extend .list-group;
			li {
				@extend .list-group-item;
				border: 0;
			}
		}
	}
}