---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/stylesheets/bootstrap";
$main-color: #1a3771;
.page-content {
	@extend .container;
}
.wrapper {
	@extend .col-md-12;
}

.navbar {
	background: $main-color;
	a {
		color: white;
		&:hover {
			background-color: #2a6496!important;
		}
	}
}

footer {
	border-top: 1px solid $main-color;
	&.site-footer {
		@extend .col-md-12;
	}
	.element {
		@extend .col-md-4;
		ul {
			@extend .list-group;
			li {
				@extend .list-group-item;
			}
		}
	}
}