---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/stylesheets/bootstrap";

.page-content {
	@extend .container;
}
.wrapper {
	@extend .col-md-12;
}

.navbar {
	background: #1a3771;
	a {
		color: white;
		&:hover {
			background-color: #2a6496!important;
		}
	}
}