---
layout: default
title: Vagrant TYPO3
---

<div ng-controller="mainController">
	<div class="col-md-7">
		<div class="row">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-md-2 control-label" for="appendedtext">Hostname:</label>

					<div class="col-md-4">
						<div class="input-group">
							<input id="appendedtext" name="appendedtext" class="form-control" ng-model="satan" placeholder="ipoa" type="text">
							<span class="input-group-addon">.dev</span>
						</div>

					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="textinput">Directory:</label>

					<div class="col-md-4">
						<input id="textinput" name="textinput" type="text" ng-model="localDirectory" class="form-control input-md">
						<span class="help-block">Recommended default directory</span>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<h2>Installation</h2>
			<p>Download and install Virtualbox from
				<a href="https://www.virtualbox.org/wiki/Downloads">virtualbox.org</a>.</p>
			<p>Download vagrant from <a href="http://www.vagrantup.com/downloads.html">vagrantup.com</a>
				and install the Application.</p>

			<p>Clone this good default vagrant machine: <br/>
				<code>git clone git://github.com/swiftlizard/VagrantTYPO3.git [[localDirectory]]</code>
			</p>
			<p>
				<code>cd [[localDirectory]]</code>
				<br/>
				<code>vagrant up</code>
			</p>

			<h2>TYPO3 Installation</h2>
			<p ng-if="!satan">Enter a desired hostname above</p>

			<div class="generated" ng-if="satan">
				<code>sudo sh -c 'echo "192.168.50.50 [[satan]].dev" >> /etc/hosts'</code>
				<br/>
				<code>export NEW_DIR=[[localDirectory]]/vHosts/[[satan]]/Web</code>
				<br/>
				<code>mkdir -p $NEW_DIR && cd $NEW_DIR</code>
				<br/>
				<code>wget "http://get.typo3.org/[[formData.selectedVersion]]" -O typo3_src.tgz</code>
				<br/>
				<code>tar xvzf typo3_src.tgz</code>
				<br/>
				<code>mv typo3_src-[[formData.selectedVersion]] typo3_src</code>
				<br/>
				<code>ln -s typo3_src/typo3 typo3</code>
				<br/>
				<code>ln -s typo3_src/index.php index.php</code>
				<br/>
				<code>touch FIRST_INSTALL</code>
				<br/>
				Open in Browser: <a href="http://[[satan]].dev" target="_blank">[[satan]].dev</a>

				<br/>Database username: root, password: vagrant
				<br/>
				Create new database
				<br/>Database name: t3_[[satan]]
				<br/>
				Open typo3conf/LocalConfiguration.php and add
				<br/>
				<code>
					trustedHostsPattern => '[[satan]].dev'

				</code>
				<br/>
				in section 'SYS'
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<div class="row">
			<h3>TYPO3 Version </h3>

			<div class="panel-group" id="accordion">
				<div class="panel panel-default" ng-repeat="(version, major) in t3vers" ng-if="major.active">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#t3ver-[[$index]]">
								[[version]]</a>
						</h4>
					</div>
					<div id="t3ver-[[$index]]" class="panel-collapse collapse">
						<div class="panel-body">
							<ul ng-repeat="minor in major.releases" class="list-unstyled">
								<li>
									<input name="t3version" type="radio" ng-model="formData.selectedVersion" value="[[minor.version]]"/>
									[[minor.version]]
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
