<footer class="site-footer">
		<div class="element">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Tools</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="https://github.com/subugoe">Github</a></li>
						<li><a href="http://wiki.sub.uni-goettingen.de/dbservices/index.php/Main_Page">Wiki</a></li>
						<li><a href="https://travis-ci.org/">Travis</a></li>
						<li><a href="https://pm.sub.uni-goettingen.de/">Jira</a></li>
						<li><a href="http://deploy.sub.uni-goettingen.de/index.html/">Composer</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="element">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Fools</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="http://studentenwerk-goettingen.de/speiseplan.html?&no_cache=1">Mensa</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="element">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Projekte</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Archaeo18</li>
					</ul>
				</div>
			</div>
		</div>
</footer>
