<footer class="site-footer">
	<div class="container">
		<div class="element">
			<h3>Tools</h3>
			<ul>
				<li><a href="http://jenkins.tc.sub.uni-goettingen.de/jenkins/">Jenkins</a></li>
				<li><a href="https://github.com/subugoe">Github</a></li>
				<li><a href="http://wiki.sub.uni-goettingen.de/dbservices/index.php/Main_Page">Wiki</a></li>
				<li><a href="https://travis-ci.org/">Travis</a></li>
				<li><a href="https://pm.sub.uni-goettingen.de/">Jira</a></li>
			</ul>
		</div>
		<div class="element">
			<h3>Fools</h3>
			<ul>
				<li><a href="http://studentenwerk-goettingen.de/speiseplan.html?&no_cache=1">Mensa</a></li>
			</ul>
		</div>
		<div class="element">
			<h3>Projekte</h3>
			<ul>
				<li>Archaeo18</li>
			</ul>
		</div>
	</div>
</footer>
