<footer class="site-footer">
	<div class="container">
		<div class="element">
			<h3>Tools</h3>
			<ul>
				<li><a href="http://jenkins.tc.sub.uni-goettingen.de/jenkins/">Jenkins</a></li>
				<li><a href="https://github.com/subugoe">Github</a></li>
				<li><a href="wiki.sub.uni-goettingen.de/dbservices/index.php/Main_Page">Wiki</a></li>
				<li><a href="https://travis-ci.org/">Travis</a></li>
			</ul>
		</div>
		<div class="element">
			<h3>Tools</h3>
			<ul>
				<li>Jenkins</li>
				<li>Github</li>
				<li>Wiki</li>
				<li>Travis</li>
			</ul>
		</div>
		<div class="element">
			<h3>Tools</h3>
			<ul>
				<li>Jenkins</li>
				<li>Github</li>
				<li>Wiki</li>
				<li>Travis</li>
			</ul>
		</div>
	</div>
</footer>
