<!DOCTYPE html>
<html ng-app="sub">

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script src="javascripts/angular/angular.min.js" type="text/javascript"></script>
  <script src="javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="javascripts/App.js" type="text/javascript"></script>
  <script src="javascripts/Controllers.js" type="text/javascript"></script>
</html>
